certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
decorator==5.2.1
idna==3.10
imagehash==4.3.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
-e file:///home/joona/python/Projects/Momentis
moviepy==2.1.2
numpy==2.2.5
opencv-python==4.10.0.84
pillow==10.4.0
proglog==0.1.11
python-dotenv==1.1.0
pywavelets==1.7.0
requests==2.32.3
scipy==1.14.1
setuptools==75.2.0
tesserocr==2.8.0
tqdm==4.67.1
urllib3==2.2.3
